.grid-container {
    display: grid;
    grid-template-columns: auto  auto ;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  .grid-item1 {
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }
  .grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: right;
  }
  .grid-container-menu {
    display: grid;
    grid-template-columns: auto; 
    justify-items: center; 
    width: 100%; 
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: white;
  }
  .grid-container-menu-cont {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


@media (max-width: 600px) {
    .grid-container-menu-cont {
        grid-template-columns: 1fr; 
    }
}

.grid-contenido {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 4px;
}
@media (max-width: 600px) {
    .grid-contenido {
        font-size: 24px;
        padding: 10px; 
    }
}
.grid-container-footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

@media (max-width: 600px) {
    .grid-container-footer {
        grid-template-columns: 1fr;
    }
}
.footer-contenido {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
    margin: 4px;
    font-size: large;
}
@media (max-width: 600px) {
    .footer-contenido {
        font-size: medium; 
        padding: 10px; 
    }
}