.tImagen {
    width: 25%;
    height: 25%;
}

.btn-image-bg {
    background-size: cover;
    background-color: white;
    width: 45%;
    height: 35%;
}

.typeText {
    font-size: larger;
}

nav ul.nav a.nav-link {
    color: rgb(255, 255, 255);

}

h1 {
    text-align: center;

}

p {
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
}

.navcolor {
    background-image: radial-gradient(circle 976px at 51.2% 51%, rgba(11, 27, 103, 1) 0%, rgba(16, 66, 157, 1) 0%, rgba(11, 27, 103, 1) 17.3%, rgba(11, 27, 103, 1) 58.8%, rgba(11, 27, 103, 1) 71.4%, rgba(16, 66, 157, 1) 100.2%, rgba(187, 187, 187, 1) 100.2%);
}

body {
    background-image: radial-gradient(circle 993px at 0.5% 50.5%, rgba(137, 171, 245, 0.37) 0%, rgba(245, 247, 252, 1) 100.2%);
}
