* {
    margin: 0px;
    padding: 0px;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.lmenu {
    float: left;
}

.lmenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lmenu a:hover {
    background-color: #229766;
}
h1{ text-align: center;}
* {
    margin: 0px;
    padding: 0px;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.lmenu {
    float: left;
}

.lmenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lmenu a:hover {
    background-color: #229766;
}
h1{ text-align: center;}
* {
    margin: 0px;
    padding: 0px;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.lmenu {
    float: left;
}

.lmenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lmenu a:hover {
    background-color: #229766;
}
h1{ text-align: center;}
* {
    margin: 0px;
    padding: 0px;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
.lmenu {
    float: left;
}

.lmenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lmenu a:hover {
    background-color: #229766;
}
h1{ text-align: center;}
